In [1]:
grade = 85 

if grade >= 60:
    print('passed')

passed

In [2]:
if 1:
    print('Nonzeri vakyes are true, so this will print')

Nonzeri vakyes are true, so this will print

In [3]:
if 0:
    print('zero value is false, so this will not print')

In [4]:
if """""":
    print('zero value is false, so this will not print')

In [7]:
grade = 55 

if grade >= 60:
    print('passed')

In [8]:
grade = 85

if grade >= 60:
    print('passed')
else:
    print('failed')

passed

In [9]:
grade = 57

if grade >= 60:
    print('passed')
else:
    print('failed')

failed

In [10]:
grade = 87
if grade >= 60:
    result = 'passed'
else:
    result = 'failed'
print(result)

passed

In [11]:
result = ('passed' if grade >= 60 else 'failed')
result

'passed'

In [12]:
grade = 49

if grade >= 60:
    print('passed')
else:
    print('failed')
    print('you must take the course again')

failed
you must take the course again

In [13]:
grade = 77

if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

C

In [14]:
product = 3

while product <= 50:
    product = product * 3

product

81

In [15]:
product = 7

while product <= 1000:
    product = product * 7
    
product

2401

In [16]:
for character in 'Programming':
    print(character, end=' ')

P r o g r a m m i n g

In [20]:
print(10, 20, 30, sep=',')

10,20,30

In [21]:
total = 0

for number in [2, -3, 0, 17, 9]:
    total = total + number 

total

25

In [26]:
for counter in range(10):
    print(counter, end=' ')

0 1 2 3 4 5 6 7 8 9

In [28]:
total = 0 

for number in range(1000001):
    total = total + number
    
total

500000500000

In [30]:
total = 0

for number in [1, 2, 3, 4, 5]:
    total += number

total

15

In [31]:
x = 12

x **= 2
x

144

In [33]:
total = 0 # sum of grades
grade_counter = 0 
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94] # list of 10 grades

for grade in grades:
    total += grade # add current grdae to the running total
    grade_counter += 1 # indicates that one more grade was processed
    
average = total / grade_counter
print(f'Class average is {average}')

Class average is 81.7

In [34]:
number1 = 7
number2 = 5

print(f'{number1} times {number2} is {number1 * number2}')

7 times 5 is 35

In [35]:
total = 0 # sum of grades
grade_counter = 0 # number of grades entered

grade = int(input('Enter grade, -1 to end: ')) # get one grade

while grade != -1: 
    total += grade
    grade_counter += 1
    grade = int(input('Enter grade, -1 to end: '))
    
if grade_counter != 0:
    average = total / grade_counter
    print(f'Class grade average is {average:.2f}')
else:
    print('No grades entered')

Enter grade, -1 to end:  97
Enter grade, -1 to end:  82
Enter grade, -1 to end:  64
Enter grade, -1 to end:  91
Enter grade, -1 to end:  94
Enter grade, -1 to end:  97
Enter grade, -1 to end:  66
Enter grade, -1 to end:  -1

Class grade average is 84.43

In [40]:
for count in range(2):
    value = int(input('Enter value'))
    if value % 2 == 0:
        print(f'{value} is even')
    else:
        print(f'{value} is odd')

Enter value 7

7 is odd

Enter value 10

10 is even

In [ ]:
for number in range(5, 10):
    print(number, end=' ')

5 6 7 8 9

In [45]:
for number in range(0, 10, 2):
    print(number, end=' ')

0 2 4 6 8

In [47]:
for number in range(10, 0, -2):
    print(number, end=' ')

10 8 6 4 2

In [50]:
for number in range(99, -1, -11):
    print(number, end=' ')

99 88 77 66 55 44 33 22 11 0

In [53]:
total = 0

for number in range(2, 101, 2):
    total += number

total

2550

In [57]:
principal = 1000
rate = .02


for year in range (1, 11):
    amount = principal * (1 + rate) ** year
    print(f'{year:>2}{amount:>10.2f}')

 1   1020.00
 2   1040.40
 3   1061.21
 4   1082.43
 5   1104.08
 6   1126.16
 7   1148.69
 8   1171.66
 9   1195.09
10   1218.99

In [61]:
for number in range(100):
    if number == 10:
        break
    print(number, end=' ')

0 1 2 3 4 5 6 7 8 9

In [64]:
gender = 'Female'
age = 70

if gender == 'Female' and age >= 65:
    print('senior female')

senior female

In [65]:
semester_average = 83

final_exam = 95

if semester_average >= 90 or final_exam >= 90:
    print('Student gets an A')

Student gets an A

In [66]:
grade = 87

if not grade == -1:
    print('next grade is', grade)

next grade is 87

In [67]:
if grade != -1:
    print('next grade is', grade)

next grade is 87

In [71]:
i = 1
j = 2
k = 3
m = 2

In [72]:
(i >= 1) and (j < 4)

True

In [73]:
(m <= 99) and (k < m)

False

In [74]:
(j >= i) or (k == m)

True

In [75]:
(k + m < j) or (3 - j >= k)

False

In [76]:
not (k > m)

False

In [77]:
grades = [85, 93, 45, 89, 85]
sum(grades) / len(grades)

79.4

In [78]:
import statistics

In [79]:
statistics.mean(grades)

79.4

In [80]:
statistics.median(grades)

85

In [81]:
statistics.mode(grades)

85

In [82]:
sorted(grades)

[45, 85, 85, 89, 93]

In [83]:
values = [47, 95, 88, 73, 88, 84]

In [84]:
statistics.mean(values)

79.16666666666667

In [85]:
statistics.median(values)

86.0

In [86]:
statistics.mode(values)

88

In [93]:
count = len(values)
count

6

In [92]:
total = sum(values)
total

475

In [95]:
average = total / count
average

79.16666666666667

In [103]:
# Batting averages of the 2015 Kansas City Royals
Jarrod Sims

batting = [.307, .297, .290, .284, .271, .260, .257, .255, .220]

import statistics

count = len(batting)
total = sum(batting)
mean = total / count
median = statistics.median(batting)
mode = statistics.mode(batting)

print(f'Mean batting average equals {mean:.3f}. Median batting average equals {median}. Most often occuring batting average equals {mode}.')

Mean batting average equals 0.271. Median batting average equals 0.271. Most often occuring batting average equals 0.307.